<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="FileLogFactory" class="zrj.shiyan4.factory.FileLogFactory"></bean>
    <bean id="FileLog" factory-method="createLog" factory-bean="FileLogFactory"></bean>


    <bean id="DBLogFactory" class="zrj.shiyan4.factory.DBLogFactory"></bean>
    <bean id="DBLog" factory-method="createLog" factory-bean="DBLogFactory"></bean>


</beans>